/* global.css */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body,
#__next {
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb{
  background: #484848;
  border-radius: 2rem;
  border: 1rem solid transparent;
  /* background-clip: content-box; */
}
::-webkit-scrollbar-thumb:hover{
  background: #676666;
}
::-webkit-scrollbar-track{
  background: #242428;
}
